.header {
  text-align: center;
  background-color: black;
  color: whitesmoke;
}


.sw-button {
  background: none;
  border: none;
}

.sw-img {
  height: 20px
}

.starshipInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  background-color: #002828;
  height: 225px;
  width: 400px;
  padding: 20px;
  flex-wrap: wrap;
  box-shadow: 7px 7px 7px 0 black;
  margin: auto;
  border-radius: 2%;
}

.starshipApi {
  display: flex;
  justify-content:space-evenly;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 25px;
  text-align: center;
  font-size: 10px;
}